<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

    <div class="row">
      <label for="login">
        Login
      </label>
      <input id="login" type="text" formControlName="login">
    </div>

    <div class="row">
      <label for="password">
        Password
      </label>
      <input id="password" type="password" formControlName="password">
    </div>

    <div class="row">
      <button class="button" type="submit">Login</button>
    </div>
  </form>
</div>
